{% extends 'portfolio/base.html' %}
{% load static %}
{% load bootstrap4 %}
{% block content %}
<!-- Slider -->
<section id="hero-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center shadow pt-3 rounded-top border-top border-3 border-secondary" style="background-color: #E2E2E2;border-radius:10px;">
                <div class="block wow fadeInUp" data-wow-delay=".3s">
                    <section class="cd-intro" >
                        <h1 class="wow fadeInUp animated cd-headline slide" data-wow-delay=".4s">
                            <span>HI, I'M SAYIA FELIX A</span><br>
                            <span class="cd-words-wrapper">
                                <b class="is-visible">Full Stack Developer</b>
                                <b>Web Designer</b>
                            </span>
                        </h1>
                    </section>
                    <h2 class="wow fadeInUp animated" data-wow-delay=".6s">
                         This site showcases some of my projects.
                    </h2>
                    <a class=" wow fadeInUp animated smooth-scroll btn btn-outline-secondary" data-wow-delay=".9s" href="#works" style="border-radius:5px;"data-section="#works">View Projects</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Slider -->

<!-- About Me -->
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <div class="block wow fadeInLeft" data-wow-delay=".3s" data-wow-duration="500ms">
                    <h2>ABOUT ME</h2>
                    <p>I'm a dynamic Junior Software Developer with a passion for Fullstack programming. I have
                         experience working in a fast-growing company with my excellent academic performance and
                          communication skills. Looking for more growth in my software development career and am located in Nairobi,Kenya. </p>
                </div>
            </div>
            <div class="col-md-6 col-sm-6" style="margin-top:-10%;border-radius:10px;">
                <div class="block wow fadeInRight" data-wow-delay=".3s" data-wow-duration="500ms">
                    <img src="{% static 'images/j.jpg' %}" style="border-radius:10px;"class="img-responsive img-fluid" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End About Me -->

<!-- Portfolio -->
<section id="works" class="works">
    <div class="container">
        <div class="section-heading">
            <h1 class="title wow fadeInDown" data-wow-delay=".3s">Latest Project</h1>
            <hr>
            <p class="wow fadeInDown" data-wow-delay=".5s">Below are some of the projects that I have worked on.</p>
        </div>
        <div class="row">
            {% for project in projects %}
            <div class="col-sm-4 col-xs-12" style="border-radius:5px;">
                <figure class="wow fadeInLeft animated portfolio-item" data-wow-duration="500ms" data-wow-delay="0ms">
                    <div class="img-wrapper">
                        <img src="{{project.project_image.url}}" class="img-responsive img-fluid" height="250px" width="400px" alt="">
                        <div class="overlay">
                            <div class="buttons">
                            
                                 <a class="btn btn-sm btn-outline-primary" style="border-radius:5px;"href="/project/{{project.id}}">View Project</a> 
                            </div>
                        </div>
                    </div>
                    <figcaption>
                        <h4>
                            <a style="text-decoration:none;"href="">{{project.name}}</a>
                        </h4>
                        <p>
                            {{project.description | truncatechars:50}}
                        </p>
                    </figcaption>
                </figure>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<!-- Portfolio End -->

<!-- What I Offer -->
<section id="feature">
    <div class="container">
        <div class="section-heading">
            <h1 class="title wow fadeInDown" data-wow-delay=".3s">What I Can Do</h1>
            <p class="wow fadeInDown" data-wow-delay=".5s">
                My extensive skills has enabled me to provide the following <br> services that I am proficient in.
            </p>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-6 col-xs-12"style="border-right:1px solid black;">
                <div class="media wow fadeInUp animated" data-wow-duration="500ms" data-wow-delay="300ms">
                    <div class="media-left">
                        <div class="icon"style="font-size:100px;color:#30BDD5;">
                            <i class="fa-brands fa-codepen"></i>
                        </div>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Designing Websites</h4>
                        <hr>
                        <p>I do Web designing using pen and paper,Figma and Miro.Then developing the project untill it works.</p>
                         <h6 class="media-heading">Figma | Miro</h6>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xs-12">
                <div class="media wow fadeInUp animated" data-wow-duration="500ms" data-wow-delay="300ms">
                     <div class="media-left">
                        <div class="icon" style="font-size:100px;color:#30BDD5;">
                            <i class="fa-solid fa-code"></i>
                        </div>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Developing Websites</h4>
                        <hr>
                        <p>I like building website from an idea to final working project using skills mentioned below. I develop web applications using Django and Flask  for backend and Angular for front end.</p>
                         <h6 class="media-heading">AngularJs | Django | Flask | JS | Python | </h6>
                    </div>
                </div>
            </div>
            {% comment %} <div class="col-md-4 col-lg-4 col-xs-12">
                <div class="media wow fadeInUp animated" data-wow-duration="500ms" data-wow-delay="300ms">
                    <div class="media-left">
                     
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Social Media Marketing</h4>
                        <p>I use Buffer to manage social media pages, create posts for different social media pages, reply to messages and monitor performance of social media pages.</p>
                    </div>
                </div>
            </div> {% endcomment %}
        </div>
    </div>
</section>
<div class="">
    <div class="row">
        <div class="col-12 mx-auto" style="border-top: 1px solid black;border-radius:5px;">
        <div class="">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d255282.3237489368!2d36.70730825509494!3d-1.303205056014412!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x182f1172d84d49a7%3A0xf7cf0254b297924c!2sNairobi!5e0!3m2!1sen!2ske!4v1645877293546!5m2!1sen!2ske "
                width="100%" height="400" style="border:0; " allowfullscreen=" " loading="lazy "></iframe>
           </div>
         
         </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-12 mx-auto">
              <div class="communication ">
                        <a style="text-decoration: none;" href="https://github.com/SayiaFelix" target="-blank "><i class="fa-brands fa-github"></i></a>
                        <a style="text-decoration: none;" href="https://web.facebook.com/jay.safulycus.7 " target="-blank "><i class="fab fa-facebook-f "></i></a>
                        <a style="text-decoration: none;" href="https://www.linkedin.com/in/sayiafelix/" target="-blank "><i class="fa-brands fa-linkedin-in "></i></a>
                        <a style="text-decoration: none;" href="https://twitter.com/safu_jay " target="-blank "><i class="fab fa-twitter " ></i></a>
                        <a style="text-decoration: none;"href="https://www.instagram.com/jay_safu_msela/ " target="-blank "><i class="fab fa-instagram "></i></a>
               </div>
         </div>
    </div>
</div>

      
{% endblock %}