<section id="call-to-action">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <h2 class="title wow fadeInDown" data-wow-delay=".3s" data-wow-duration="500ms">LET'S CONNECT!
                        </h1>
                        <p class="wow fadeInDown" data-wow-delay=".5s" data-wow-duration="500ms">Are you Impressed or in need of any clarification? Feel free to contact me by pressing the below button or via my social handles below.</p>
                        <h3 class="text-center fw-light"> Email me at :<a href="mailto:sayiafelix18@gmail.com?Subject=Hello%Sayia" target="_top"style="border-radius:10px;color:#DDDDDD;"> sayiafelix18@gmail.com</a></h3>
                       <h2><a href="mailto:sayiafelix18@gmail.com?Subject=Hello%Sayia" target="_top" class="btn btn-default btn-contact wow fadeInDown" data-wow-delay=".7s"
                            data-wow-duration="500ms" style="border-radius:10px;">Hire Me</a></h2>

                </div>
            </div>

        </div>
    </div>
</section>

<footer id="footer">
    <div class="container">
        <div class="col-md-12">
            <p class="copyright text-center fs-6">&copy; <span>
                    <script>document.write(new Date().getFullYear())</script></span> Sir Felix's Portfolio. <br> All rights reserved. Designed by Sayia Felix.
            </p>
        </div>
    </div>
    <div class="container">
    <div class="row">
        <div class="col-12 mx-auto">
              <div class="communication ">
                        <a style="text-decoration: none;" href="https://github.com/SayiaFelix" target="-blank "><i class="fa-brands fa-github"></i></a>
                        <a style="text-decoration: none;" href="https://web.facebook.com/jay.safulycus.7 " target="-blank "><i class="fab fa-facebook-f "></i></a>
                        <a style="text-decoration: none;" href="https://www.linkedin.com/in/sayiafelix/" target="-blank "><i class="fa-brands fa-linkedin-in "></i></a>
                        <a style="text-decoration: none;" href="https://twitter.com/safu_jay " target="-blank "><i class="fab fa-twitter " ></i></a>
                        <a style="text-decoration: none;"href="https://www.instagram.com/jay_safu_msela/ " target="-blank "><i class="fab fa-instagram "></i></a>
               </div>
         </div>
    </div>
</div>
</footer>